body{
    background:  #26006f;
    color:white;
}
h2{
    font-size:40px;
    text-align: center;
    color:#01dfba;
}

.buttonImage{
    background-color: transparent;
    border:3px solid white;
    padding:20px;
    border-radius:100%;
    cursor:pointer;
    text-align:center;
    display:  inline-flex;
    margin-left:370px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: baseline;
    

    


    
    
}
.move_image{
    width: 70px;
    height: 70px;
    display:flex;
    padding:10px;
    

}
.images_picked{
    width: 100px;
    height: 100px;
    display:flex;
    flex-direction: row;
    margin-left:750px;
    
    
}
.showresult{
    display:inline-flex;
    color:white;
}
.reset_score{
    background-color: #26006f;
    color:#01dfba;
    margin-left:900px;
    padding:10px;

}


